{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Detail</h1>
    <div class='rounded border border-success'>
      <h1 class='mt-5'>제목: {{ review.title }}</h1>
      {% if review.image %}
        <div class="mb-3">
          <img src="{{ review.image.url }}" alt="{{review.title}}">
        </div>
      {% endif %}
      <h3 class='mt-5'>내용: {{ review.content }}</h3>
      <h3 class='mb-5'>영화제목: {{ review.movie }}</h3>
      <a href="{% url 'reviews:index' %}">[back]</a>
      {% if request.user == review.user %}
        <a href="{% url 'reviews:update' review.pk %}">[update]</a>
        <a href="{% url 'reviews:delete' review.pk %}">[delete]</a>
      {% endif %}
    </div>

    <h4 class='mt-5'>댓글({{count}})</h4>
    <table class="table" style="width:100%">
      {% for comment in comments %}
        <tr>
          {% if review.user == comment.user %}
            <th scope="col" class='text-primary' style="width:10%">{{comment.user}}</th>
          {% else %}
            <th scope="col" class='text-dark'>{{comment.user}}</th>
          {% endif %}
          <th scope="col">{{comment.content}}</th>
          {% if comment.user == request.user %}
          <th scope="col" style="width:10%">
            <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
          </th>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  </div>
  
{% endblock content %}
