{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="">
      <div class="d-flex justify-content-between">
        <h1 class="mt-5">{{ review.title }}</h1>
        <div class="mt-5">
          {% if request.user == review.user %}
            <a class="btn btn-outline-dark mx-2" href="{% url 'reviews:update' review.pk %}">수정</a>
            <a class="btn btn-outline-dark" href="{% url 'reviews:delete' review.pk %}">삭제</a>
          {% endif %}
        </div>
      </div>
      <h5>{{ review.movie }}</h5>
      {% if review.image %}
        <div class="mb-3">
          <img src="{{ review.image.url }}" alt="{{review.title}}">
        </div>
      {% endif %}
      <h3 class='mt-3'>{{ review.content|linebreaks }}</h3>
    </div>

    <h4 class='mt-5'>댓글({{count}})</h4>
    <table class="table" style="width:100%">
      {% for comment in comments %}
        <tr>
          {% if review.user == comment.user %}
            <th scope="col" class='text-primary' style="width:10%">{{comment.user}}</th>
          {% else %}
            <th scope="col" class='text-dark'>{{comment.user}}</th>
          {% endif %}
          <th scope="col">{{comment.content}}</th>
          {% if comment.user == request.user %}
          <th scope="col" style="width:10%">
            <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-dark ms-2" type="submit" value="삭제">
            </form>
          </th>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% if request.user.is_authenticated %}
    <label for="commentinput" class="form-label">댓글작성</label>
      <form class="d-flex" action="{% url 'reviews:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {% for form in comment_form %}
          {{ form }}
        {% endfor %}
        <input class="btn btn-outline-dark ms-2" type="submit">
      </form>
    {% else %}
      <form action="#">
        <label for="pleaselogin" class="form-label">댓글작성</label>
        <input type="text" class="form-control" id="pleaselogin" placeholder="댓글을 작성하기 위해서는 로그인을 해주세요." disabled>
      </form>
    {% endif %}
  </div>
  
{% endblock content %}
