{% extends 'base.html' %}
{% load static %}
{% block style %}
    a {
      text-decoration: none; /* 밑줄 제거 */
    }
{% endblock style %}
{% block content %}

  <!--카드-->
  <div class="container mt-4" >
    <h3 class="font-weight-bolder">영화 리뷰</h3>
      <div class="row g-4">
  {% for review in reviews %}
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'reviews:detail' review.pk %}">
          <div class="card" onclick="redirectToDetailPage('{{ review.pk }}')">
            {% if review.image %}
              <img src="{{ review.image.url }}" class="card-img-top"  alt="image">
            {% else %}
              <img src="{% static 'No-Image-Placeholder.svg.png' %}" class="card-img-top" alt="image">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{review.movie}}</p>
              <p class="card-text">{{review.title}}</p>
              <p class="card-text">작성자: {{review.user}}</p>
              
            </div>
          </div>
        </a>
      </div>
  {% empty %}
  <p>아직 리뷰가 없어요.</p>
  {% endfor %}
      </div>
  </div>

{% endblock content %}
