{% extends 'base.html' %}
{% block content %}

  <!--카드-->
  <div class="container mt-5" >
    <h2>영화 리뷰</h2>
      <div class="row g-4">
  {% for review in reviews %}
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'reviews:detail' review.pk %}">
          <div class="card" onclick="redirectToDetailPage('{{ review.pk }}')">
            {% if review.image %}
            <img src="{{ review.image.url }}" class="card-img-top" alt="image">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{review.movie}}</p>
              <p class="card-text">작성자: {{review.user}}</p>
              <p class="card-text">제목: {{review.title}}</p>
            </div>
          </div>
        </a>
      </div>
  {% empty %}
  <p>아직 리뷰가 없어요.</p>
  {% endfor %}
      </div>
  </div>

{% endblock content %}
